<h3> Grays</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-midbackground<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-midground<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-gray-00</td>
    <td  class='color-val'>black</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: black;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: black;background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: black;background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-07</td>
    <td  class='color-val'>hsl(0,0%,07%)</td>
    <td  class='color-val'> material design rec: #121212 </td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,07%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,07%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,07%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-10</td>
    <td  class='color-val'>hsl(0,0%,10%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,10%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,10%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,10%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-15</td>
    <td  class='color-val'>hsl(0,0%,15%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,15%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,15%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,15%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-20</td>
    <td  class='color-val'>hsl(0,0%,20%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,20%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,20%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,20%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-30</td>
    <td  class='color-val'>hsl(0,0%,30%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,30%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,30%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,30%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-35</td>
    <td  class='color-val'>hsl(0,0%,35%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,35%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,35%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,35%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-40</td>
    <td  class='color-val'>hsl(0,0%,40%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,40%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,40%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,40%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-50</td>
    <td  class='color-val'>hsl(0,0%,50%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,50%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,50%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,50%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-55</td>
    <td  class='color-val'>hsl(0,0%,55%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,55%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,55%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,55%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-60</td>
    <td  class='color-val'>hsl(0,0%,60%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,60%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,60%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,60%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-70</td>
    <td  class='color-val'>hsl(0,0%,70%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,70%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,70%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,70%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-75</td>
    <td  class='color-val'>hsl(0,0%,75%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,75%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,75%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,75%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-80</td>
    <td  class='color-val'>hsl(0,0%,80%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,80%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,80%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,80%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-85</td>
    <td  class='color-val'>hsl(0,0%,85%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,85%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,85%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,85%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-90</td>
    <td  class='color-val'>hsl(0,0%,90%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,90%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,90%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,90%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-95</td>
    <td  class='color-val'>hsl(0,0%,95%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,95%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,95%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,95%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-gray-100</td>
    <td  class='color-val'>white</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: white;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: white;background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: white;background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-foreground</td>
    <td  class='color-val'>var(--dk-color-foreground</td>
    <td  class='color-val'>,var(--lt-color-foreground))</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-foreground;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground;background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground;background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-midforeground5</td>
    <td  class='color-val'>--dk-color-midforeground5,var(--lt-color-midforeground5)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-midforeground5,var(--lt-color-midforeground5));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midforeground5,var(--lt-color-midforeground5));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midforeground5,var(--lt-color-midforeground5));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-midground</td>
    <td  class='color-val'>var(--dk-color-midground</td>
    <td  class='color-val'>,var(--lt-color-midground))</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-midground;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midground;background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midground;background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-midbackground5</td>
    <td  class='color-val'>--dk-color-midbackground5,var(--lt-color-midbackground5)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-midbackground5,var(--lt-color-midbackground5));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midbackground5,var(--lt-color-midbackground5));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midbackground5,var(--lt-color-midbackground5));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-background</td>
    <td  class='color-val'>var(--dk-color-background</td>
    <td  class='color-val'>,var(--lt-color-background))</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-background;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background;background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background;background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Foreground / Background</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-midbackground<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-midground<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-foreground</td>
    <td  class='color-val'>var(--dk-color-foreground</td>
    <td  class='color-val'>,var(--lt-color-foreground))</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-foreground;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground;background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foreground;background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-foremidground</td>
    <td  class='color-val'>--dk-color-foremidground,var(--lt-color-foremidground)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-foremidground,var(--lt-color-foremidground));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foremidground,var(--lt-color-foremidground));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-foremidground,var(--lt-color-foremidground));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-midforeground</td>
    <td  class='color-val'>--dk-color-midforeground,var(--lt-color-midforeground)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-midforeground,var(--lt-color-midforeground));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midforeground,var(--lt-color-midforeground));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midforeground,var(--lt-color-midforeground));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-midground</td>
    <td  class='color-val'>var(--dk-color-midground</td>
    <td  class='color-val'>,var(--lt-color-midground))</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-midground;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midground;background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midground;background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-midbackground</td>
    <td  class='color-val'>--dk-color-midbackground,var(--lt-color-midbackground)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-midbackground,var(--lt-color-midbackground));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midbackground,var(--lt-color-midbackground));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-midbackground,var(--lt-color-midbackground));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-backmidground</td>
    <td  class='color-val'>--dk-color-backmidground,var(--lt-color-backmidground)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-backmidground,var(--lt-color-backmidground));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-backmidground,var(--lt-color-backmidground));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-backmidground,var(--lt-color-backmidground));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-background</td>
    <td  class='color-val'>var(--dk-color-background</td>
    <td  class='color-val'>,var(--lt-color-background))</td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-background;background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background;background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-background;background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Accentsz</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-midbackground<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-midground<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-accent-1</td>
    <td  class='color-val'>--dk-color-accent-1,var(--lt-color-accent-1)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-accent-1,var(--lt-color-accent-1));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-1,var(--lt-color-accent-1));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-1,var(--lt-color-accent-1));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-2</td>
    <td  class='color-val'>--dk-color-accent-2,var(--lt-color-accent-2)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-accent-2,var(--lt-color-accent-2));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-2,var(--lt-color-accent-2));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-2,var(--lt-color-accent-2));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-3</td>
    <td  class='color-val'>--dk-color-accent-3,var(--lt-color-accent-3)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-accent-3,var(--lt-color-accent-3));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-3,var(--lt-color-accent-3));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-3,var(--lt-color-accent-3));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-4</td>
    <td  class='color-val'>--dk-color-accent-4,var(--lt-color-accent-4)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-accent-4,var(--lt-color-accent-4));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-4,var(--lt-color-accent-4));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-4,var(--lt-color-accent-4));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-5</td>
    <td  class='color-val'>--dk-color-accent-5,var(--lt-color-accent-5)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--dk-color-accent-5,var(--lt-color-accent-5));background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-5,var(--lt-color-accent-5));background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--dk-color-accent-5,var(--lt-color-accent-5));background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-1</td>
    <td  class='color-val'>hsl(50,80%,36%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(50,80%,36%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(50,80%,36%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(50,80%,36%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-2</td>
    <td  class='color-val'>hsl(288,89%,42%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(288,89%,42%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(288,89%,42%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(288,89%,42%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-3</td>
    <td  class='color-val'>hsl(247,87%,47%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(247,87%,47%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(247,87%,47%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(247,87%,47%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-4</td>
    <td  class='color-val'>hsl(340,92%,45%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(340,92%,45%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(340,92%,45%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(340,92%,45%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-accent-5</td>
    <td  class='color-val'>hsl(123,89%,29%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(123,89%,29%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(123,89%,29%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(123,89%,29%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Elements</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-midbackground<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-midground<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-body</td>
    <td  class='color-val'>--color-foreground</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-foreground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-body-light</td>
    <td  class='color-val'>--color-midforeground</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-midforeground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-midforeground);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-midforeground);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-heading</td>
    <td  class='color-val'>--color-foreground</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-foreground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-figure-caption</td>
    <td  class='color-val'>--color-accent-3</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-3);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-link</td>
    <td  class='color-val'>--color-accent-5</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-5);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-5);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-5);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-code</td>
    <td  class='color-val'>--color-foreground</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-foreground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-foreground);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-code-fence</td>
    <td  class='color-val'>--color-accent-3</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-3);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-logo</td>
    <td  class='color-val'>--lt-color-accent-5</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--lt-color-accent-5);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--lt-color-accent-5);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--lt-color-accent-5);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-logo-link</td>
    <td  class='color-val'>--lt-color-accent-5</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--lt-color-accent-5);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--lt-color-accent-5);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--lt-color-accent-5);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-nav-text</td>
    <td  class='color-val'>--color-midforeground</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-midforeground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-midforeground);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-midforeground);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-nav-hover</td>
    <td  class='color-val'>--color-accent-3</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-3);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-marker</td>
    <td  class='color-val'>--color-accent-5</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-5);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-5);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-5);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-head</td>
    <td  class='color-val'>--color-accent-2</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-2);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-2);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-2);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-fold-frame</td>
    <td  class='color-val'>--color-accent-2</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-2);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-2);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-2);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-footer</td>
    <td  class='color-val'>--color-midbackground</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-midbackground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-midbackground);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-midbackground);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-footer-sep</td>
    <td  class='color-val'>--color-accent-1</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-1);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-1);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-1);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-footnote-ref</td>
    <td  class='color-val'>--color-accent-3</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-3);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-footnote-sep</td>
    <td  class='color-val'>--color-accent-1</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-1);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-1);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-1);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-dateline</td>
    <td  class='color-val'>--color-accent-1</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-1);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-1);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-1);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-hr</td>
    <td  class='color-val'>--color-accent-3</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-3);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Tables</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-midbackground<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-midground<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td  class='color-var'>--color-table-odd</td>
    <td  class='color-val'>--color-backmidground</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-backmidground);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-backmidground);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-backmidground);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-odd</td>
    <td  class='color-val'>hsl(0,0%,15%)</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: hsl(0,0%,15%);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,15%);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: hsl(0,0%,15%);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-even</td>
    <td  class='color-val'>--color-background</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-background);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-background);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-body</td>
    <td  class='color-val'>--color-body</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-body);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-body);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-body);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-heading</td>
    <td  class='color-val'>--color-heading</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-heading);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-heading);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-heading);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-caption</td>
    <td  class='color-val'>--color-accent-4</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-4);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-4);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-4);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
  <tr>
    <td  class='color-var'>--color-table-sep</td>
    <td  class='color-val'>--color-accent-3</td>
    <td  class='color-val'></td>
  </tr>
  <tr>
    <td style='color: var(--color-accent-3);background:var(--color-background)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midbackground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
    <td style='color: var(--color-accent-3);background:var(--color-midground)'>      aptent conubia enim eleifend habitasse id montes
    </td>
  </tr>
</tbody>
</table>
<h3> Fonts</h3><table>
  <thead>
    <tr>
      <th>Variable
      <code style='font-size:var(--font-size-minus-2)'><br>color-background</code><br>
      </th>
      <th>Value
      <code style='font-size:var(--font-size-minus-2)'><br>color-midbackground<br></code>
      </th>
      <th>Notes
      <code style='font-size:var(--font-size-minus-2)'><br>color-midground<br></code>
      </th>
    </tr>
  </thead>
  <tbody>
</table>
