<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <!-- https://github.com/11ty/eleventy-base-blog/issues/15 -->
  <title>{{ renderData.title or title or metadata.title }} • {{config.siteName}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {# % include "partials/icons.njk" % #}
  <link rel="stylesheet" href="/assets/css/prism/prism-tomorrow.css">
  <link rel="stylesheet" href="/assets/css/prism/prism-line-numbers.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  {# % hasMermaid content % #}

  <style>
    /****
        PrismJS uses `table` and so does tailwind
        tailwind uses is as the utility to
        set `display: table`, which messes up PrismJS.
        Prism helpfully adds a "token" class to everything
        it touches.
    ****/
    .table[class~="token"]  {
     display: inline;
  }
  </style>
</head>
<body class="bg-gray-100 font-serif leading-normal tracking-normal">
<div  id="container" class="container w-full max-w-prose mx-auto px-3 md:px-6 sm:px-2">
 <header>
    {% block header %}
      {% include "partials/logo.njk" %}
    {% endblock %}
  </header>
  <nav id="sitenav">
    {% block nav %}
      {% include "partials/nav.njk" %}
    {% endblock %}
  </nav>
  <main class="prose">
    {% block kontent %}
      {{ content | safe }}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
      {% include "partials/site-footer.njk" %}
    {% endblock %}
  </footer>
  </div>
</body>
</html>
