<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.typekit.net/ztn6rcs.css">

  <style>
:root {
  --color-body:         #111;
  --color-darkgray:     #666;
  --color-darkred:      #7F0036; /* 127, 0, 54 */
  --color-fadeddarkred: #7F00364d;
  --color-fadedred:     #c223234d;
  --color-fadedred2:    #dab3c3; /* faded red with 100 alpha */
  --color-gray:         #C0C0C0;
  --color-heading:      #333;
  --color-lightgray:    #f2f2f2;
  --color-red:          #c22323;
  --color-white:        #fff;
  --color-shadow:       3px 3px 4px 0px rgba(0, 0, 0, 0.19);
                        /* offset-x | offset-y | blur-radius | spread-radius | color */

  --font-body:          'neue-kabel',  Georgia, serif;
  --font-caption:       'Cochin', 'Times', serif;
  --font-code-size:     .875em;
  --font-code:          Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  --font-footer:        'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-heading:       'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-list:          'neue-kabel', 'Gill Sans', "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
  --font-features:      "onum",   /*  onum:   Old style numbers */
                        "ss04",   /*  ss04:   Overlapping W   */
                        "ss06",   /*  ss06:   happy e */
                        "ss08",   /*  ss08:   diamond I dots */
                        "ss11",   /*  ss11:   round a */
                        "ss14";   /*  ss14:   tail l */
                                /* https://www.myfonts.com/fonts/linotype/neue-kabel/regular/glyphs.html */
}
  </style>
</head>
<body>
  <header>
    {% block header %}
      {% include "partials/logo.njk" %}
    {% endblock %}
  </header>
  <main>
    {% block kontent %}
      {{ content | safe }}
    {% endblock %}
  </main>
  <footer>
    {% block footer %}
      {% include "partials/site-footer.njk" %}
    {% endblock %}
  </footer>
</body>
</html>
