{% extends "layouts/base.njk" %}

{% set pagetype = "post" %}

{% block kontent %}
  <article>
    {% include "partials/common-title.njk" %}
    <hr>
    {{ content | safe }}
  </article>
{% endblock %}
