/* ----- code.css ------ */

pre {
  max-width: 100%;
  overflow: scroll;
  padding: 0 1em;
  display: block;
  overflow-wrap: normal;
}

code {
  word-break: normal;
}

/*  We're trying to use the official
    eleventy syntax highlight plugin
    The official plugin alters the HTML
    so that it's all on one line.
    That means that the plugin doesn't
    rely on the spacing and newlines of
    the <pre> tags.
*/

mark {
  display: block;
  margin: 0 -1em;
  padding: 0 1em;
  background-color: var(--base02);
}

  /* this is how we make br a noop */

code + br,
mark + br {
  content: "";
  line-height: initial;
}


/*  how to display in-line code:
      apply only to naked <code> blocks
*/
code:not([class]) {
	font-family: var(--font-code);
  font-size: var(--font-code-size);
  color: var(--color-code);
}

/* for naked <code> */
pre:not([class]) code:not([class]) {
  background-color: inherit;
  color: var(--color-darkred)
}

a[href] > code {
  text-decoration: underline;
}

/**
 * let's avoid these changes to the vanilla base-16
 *
 *
code[class*="language-"], pre[class*="language-"] {
  background: var(--color-code-bg) !important;
}

pre[class*="language-"] {
  border-style: none;
  border-radius: 0.25em;
  margin: 0 0 1em 0 !important;
}
 *
 **/
 
