/* ----- root.css ------ */

/* https://codepen.io/RockStarwind/pen/vYKBadV?editors=1100 */

:root {
	--true: ;
	--false: initial;
}


@media (prefers-color-scheme: dark) {
  :root {
    --is-dark: var(--true);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --is-dark: var(--false);
  }
}



/*
### Grays
*/


:root {
  --color-gray-00:  black;
  --color-gray-10:  hsl(0, 0%, 07%);  /* material design rec: #121212 */
  --color-gray-10:  hsl(0, 0%, 10%);
  --color-gray-15:  hsl(0, 0%, 15%);
  --color-gray-20:  hsl(0, 0%, 20%);
  --color-gray-30:  hsl(0, 0%, 30%);
  --color-gray-35:  hsl(0, 0%, 35%);
  --color-gray-40:  hsl(0, 0%, 40%);
  --color-gray-50:  hsl(0, 0%, 50%);
  --color-gray-55:  hsl(0, 0%, 55%);
  --color-gray-60:  hsl(0, 0%, 60%);
  --color-gray-70:  hsl(0, 0%, 70%);
  --color-gray-75:  hsl(0, 0%, 75%);
  --color-gray-80:  hsl(0, 0%, 80%);
  --color-gray-85:  hsl(0, 0%, 85%);
  --color-gray-90:  hsl(0, 0%, 90%);
  --color-gray-95:  hsl(0, 0%, 95%);
  --color-gray-100: white;
}

:root {

  /***
   *    light-mode: foreground (lighter->) background
   *    dark-mode:  foreground (darker ->) background
   ***/

  --lt-color-foreground:      hsla(0, 0%,  7%, 1);
  --lt-color-midforeground:   hsla(0, 0%, 27%, 1);
  --lt-color-midground:       hsla(0, 0%, 47%, 1);
  --lt-color-midbackground:   hsla(0, 0%, 67%, 1);
  --lt-color-background:      hsla(0, 0%, 87%, 1);

/***  https://uxplanet.org/8-tips-for-dark-theme-design-8dfc2f8f7ab6
          High-emphasis text should have an opacity of 87%
          Medium emphasis text is applied at 60%
          Disabled text uses an opacity of 38%.
***/

  --dk-color-foreground:      var(--is-dark) hsla(0, 0%, 87%, 1);
  --dk-color-midforeground:   var(--is-dark) hsla(0, 0%, 67%, 1);
  --dk-color-midground:       var(--is-dark) hsla(0, 0%, 47%, 1);
  --dk-color-midbackground:   var(--is-dark) hsla(0, 0%, 27%, 1);
  --dk-color-background:      var(--is-dark) hsla(0, 0%,  7%, 1);

/*
### Foreground / Background
*/

  --color-foreground:     var(--dk-color-foreground   , var(--lt-color-foreground));
  --color-midforeground:  var(--dk-color-midforeground, var(--lt-color-midforeground));
  --color-midground:      var(--dk-color-midground    , var(--lt-color-midground));
  --color-midbackground:  var(--dk-color-midbackground, var(--lt-color-midbackground));
  --color-background:     var(--dk-color-background   , var(--lt-color-background));




/*
### Accentsz
*/



  --color-accent-1:       hsl(  0,  87%, 94%)     ;
  --color-accent-2:       hsl(344,  52%, 92%)     ;
  --color-accent-3:       hsl(340,  37%, 59%)     ;
  --color-accent-4:       hsl(336,  48%, 42%)     ;
  --color-accent-5:       hsl(334, 100%, 25%)     ;
}



#exp {
  --color-accent-1:       hsl( 50, 80%, 36%);
  --color-accent-2:       hsl(288, 89%, 42%);
  --color-accent-3:       hsl(247, 87%, 47%);
  --color-accent-4:       hsl(340, 92%, 45%);
  --color-accent-5:       hsl(123, 89%, 29%);

}

/*
### Elements
*/

:root {
  --color-body:           var(--color-foreground);
  --color-body-light:     var(--color-midforeground);
  --color-heading:        var(--color-foreground);
  --color-figure-caption: var(--color-accent-3);
  --color-link:           var(--color-accent-5);
  --color-code:           var(--color-foreground);
  --color-code-fence:     var(--color-accent-3);

  --color-logo:           var(--color-accent-5);
  --color-logo-link:      var(--color-accent-5);

  --color-nav-text:       var(--color-midforeground);
  --color-nav-hover:      var(--color-accent-3);

  /****
   *    we want to use different colors for
   *    dark and light modes
   ****/

  --dk-color-fold-marker: var(--is-dark) var(--color-accent-2);
  --dk-color-fold-head:   var(--is-dark) var(--color-accent-4);
  --dk-color-fold-frame:  var(--is-dark) var(--color-accent-3);

  --color-fold-marker:    var(--dk-color-fold-marker, var(--color-accent-5));
  --color-fold-head:      var(--dk-color-fold-head,   var(--color-accent-2));
  --color-fold-frame:     var(--dk-color-fold-frame,  var(--color-accent-2));

  --color-footer:         var(--color-midbackground);
  --color-footer-sep:     var(--color-accent-1);

  --color-footnote-ref:   var(--color-accent-3);
  --color-footnote-sep:   var(--color-accent-1);

  --color-dateline:       var(--color-accent-1);

  --color-hr:             var(--color-accent-3);

}

/*
### Tables
*/

:root {
  --color-table-odd:      var(--color-accent-1);
  --color-table-even:     var(--color-background);
  --color-table-body:     var(--color-body);
  --color-table-heading:  var(--color-heading);
  --color-table-caption:  var(--color-accent-5);
  --color-table-sep:      var(--color-accent-3);
}

/*
### Fonts
*/

:root {
  --font-table-caption:   var(--font-heading);
  --font-table-heading:   var(--font-heading);
  --font-table-body:      var(--font-body);


  --font-serif:           'neue-kabel', 'Spectral', Georgia, serif;
  --font-sans-serif:      "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  --font-mono:            Consolas, Menlo, Monaco, "Courier New", Courier, monospace;

  --font-body:            var(--font-serif);
  --font-caption:         var(--font-sans-serif);
  --font-footer:          var(--font-sans-serif);
  --font-heading:         var(--font-sans-serif);
  --font-list:            var(--font-sans-serif);
  --font-code:            var(--font-mono);
  --font-code-size:       var(--font-size-base);

  --font-features:        "xnum";   /*  onum:   Old style numbers */

  /*
  ### Font size scale:

    https://www.modularscale.com/?1&em&1.25
  */

    --font-size-plus-3:   1.953em ;
    --font-size-plus-2:   1.563em;
    --font-size-plus-1:   1.25em;
    --font-size-plus-0:   1em;
    --font-size-base:     1em;
    --font-size-minus-0:  1em;
    --font-size-minus-1:  0.8em;
    --font-size-minus-2:  0.64em;
    --font-size-minus-3:  0.512em;
    --font-size-minus-4:  0.41em;

    --line-height-body:   1.6;
    --line-height-code:   1.6;
}





html {
  box-sizing: border-box;
  font-size:  100%;
  overflow:   scroll;
}


body {
  font-family:            var(--font-body);
  font-weight:            400;
  line-height:            var(--line-height-body);
  color:                  var(--color-body);
  background-color:       var(--color-background);
  scroll-behavior:        smooth;
  -webkit-font-smoothing: antialiased;
}

hr {
  border-top:             1px;
  border-color:           var(--color-hr);
}


/* links to markdown header with disappearing link symbol */
.direct-link {
	font-family:            var(--font-heading);
	text-decoration:        none;
	font-style:             normal;
	margin-left:            0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
	color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: var(--color-link);
  text-decoration: none;
}


/***
    how to display in-line code:
      apply only to naked <code> blocks
      this also appears in code.css

code:not([class]) {
	font-family:  var(--font-code);
  font-size:    var(--font-code-size);
  color:        var(--color-code);
}

***/

/***
 * for debugging typetura

.foo {
  counter-increment: ttbind var(--tt-bind) ttmax var(--tt-max);
}

.foo::before {
  content:  counter(ttbind) "/" counter(ttmax);
}

 *
 ***/
