/* --- headings --- */

h1, h2, h3, h4, h5, h6, dt {
  color: var(--color-heading);
  font-family: var(--font-heading);
  font-weight: 700;
  margin-bottom: 0rem;
  margin-top: 2rem;
  --tt-key: heads;
}
