.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(17rem, 35rem) 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-template-areas:
  "... head ..."
  "... nav  ..."
  "... main ..."
  "... foot ...";
}

/*  page header */

header {
  display: grid;
  grid-area: head;
}


/*  Main content */

main {
  grid-area: main;
  padding-top: 0;
}

/*  footer  */

footer {
  grid-area: foot;
  font-size: 1rem;
  color: var(--color-gray);
  font-family: var(--font-footer);
  font-size: 0.6rem;
  margin: 0 0 1rem 0;
  border-top: 1px solid var(--color-darkred);
  padding-top: 0.5em;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between ;
}

.footer-text {
  line-height: 1.4em;
  vertical-align: top;
  margin: 0
}

.footer-item {
	display: inline-block;
}

#sha a,
#sha a:hover
{
  text-decoration: none;
  color: var(--color-gray);
}

