<style>
.nav-item-active {
  font-weight: bold;
}
</style>
<p>N A V I G A T I O N</p>
    <ul>
      {%- for nav in collections._nav  -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
          <a href="{{ nav.url | url }}">{{ nav.data.navtitle or nav.data.title }}</a></li>
      {%- endfor -%}
    </ul>
