<hr>
<div class="dateline">
  <span class="dateline-date">
    {{ page.date | prettyDate('locale')}}
  </span>
  <span>
    &emsp13;•&emsp13;
  </span>
  <span class="dateline-tags">
    {{ tags}}
  </span>
</div>
