{%- macro taglist(theTags) -%}
  {%- for tag in theTags | sort(false, true) %}
    {%- if tag.substring(0,1) !== "_" -%}
    {%- set tagUrl %}/tags/{{ tag }}/{%- endset -%}
    <a href="{{ tagUrl | url }}" class="dateline-tags-link"><span>{{ tag }}</span></a> <!-- -->
    {%- endif -%}
  {%- endfor %}
{%- endmacro -%}
<div class="dateline">
  <span class="dateline-date">
    {{ page.date | prettyDate('locale')}}
  </span>
  <span>
    &emsp13;•&emsp13;
  </span>
  <span class="dateline-tags">
    {{ taglist(tags)}}
  </span>
</div>
