<ul>
  <li>
    <p class="footer-text" style="color: var(--body)">
    Copyright &copy; 2019 {{ site.authorName }}</p>
            <p class="footer-text" style="color: var(--body)">
    {{ site.madeLine | safe }}
    </p>
  </li>
  <li>
    <p class="footer-text" id="sha">
    <a href="https://github.com/pborenstein/{{git.repo}}/blob/master{{ page.inputPath.slice(1) }}">
    {%- if git.curbranch != 'HEAD' -%}
      {{- git.curbranch-}}@
    {%- endif -%}
    {{- git.commitsha -}}
    </a>
    </p>
  </li>
</ul>
